*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    padding-inline: 40%;
}

input{
    margin: auto;
    display: block;
}

.valideyn{
    display: flex;
}

#btn1{
    width: 100px;
}
